{% extends 'base.html.twig' %}

{% block body %}
    <div id="main_wrapper" class="ls-overflow-visible">
        <!-- Header -->
        {% include '@defaultComponents/header.html.twig' %}
        <!-- / Header -->
        <div class="container"></div>
        <div class="container-fluid  normal-page sliderhome ls-overflow-visible">
            <div class="container ls-overflow-visible">
                <div class="col-md-12 col-lg-12 no-padding ls-overflow-visible">
                    <div class="vc_row wpb_row vc_row-fluid ls-overflow-visible">
                        <div class="a4g_col a4g_col_container vc_col-sm-12 ls-overflow-visible">
                            <div class="a4g_col_inner  ls-overflow-visible">
                                <div class="a4g_wrapper ls-overflow-visible">
                                    <div class="wpb_layerslider_element a4g_content_elem ls-direction-fix ls-overflow-visible">
                                        <div class="ls-wp-container fitvidsignore ls-fullwidth ls-container">
                                            <div class="ls-inner">
                                            <p>lala</p>
                                            </div>
                                        </div>
                                    </div>
                                    {% include '@defaultComponents/menu-carousel.html.twig' %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="vc_row wpb_row vc_row-fluid">
                        <div class="a4g_col a4g_col_container col-sm-8">
                            {% include '@defaultComponents/latest-news.html.twig' %}
                        </div>
                        <div class="a4g_col a4g_col_container col-sm-4"><div class="a4g_col_inner "><div class="a4g_wrapper">
                                    <div class="wpb_widgetised_column a4g_content_elem">
                                        <div class="a4g_wrapper">
                                            {% include '@defaultComponents/match.html.twig' %}
                                            {% include '@defaultComponents/match-clan.html.twig' %}
                                            {% include '@defaultComponents/tabbed.html.twig' %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}