/*----- Start "Main definitions" -----*/
* { padding: 0; margin: 0; outline: 0; }

body {
    font-size: 12px;
    line-height: 1.2;
    font-family: "Trebuchet MS";
    color: #a0a0a0;
    text-align: left;
}

a img {
    border: 0;
}

a {
    color: #a0a0a0;
    text-decoration: underline;
}
a:hover {
    text-decoration: none
}

.left {
    float: left;
    display: inline;

}
.right {
    float: right;
    display: inline;
}

.cl, .clear {
    display: block;
    height: 0; font-size: 0;
    line-height: 0;
    text-indent: -4000px;
    clear: both;
}
.field {
    font-size: 12px;
    color: #484848;
    font-family: Arial, "Trebuchet MS";
    color: #000; border: solid 1px #a0a0a0;
    width: 140px; padding: 2px 5px;
}
/*----- End "Main definitions" -----*/

.shell {
    margin: 0 auto;
}

#page {
    padding-bottom: 30px;
    background: lightgray;
}

#header {
    width: 100%;
    position: relative;
    margin-bottom: 5px;
}

#logo {
    text-transform: uppercase;
}

#logo img{
    width: 15%;
}
#logo h1 {
    font-family: "Trebuchet MS";
    font-weight: bold;
    font-size: 50px;
    color: #a94442;
    display: inline-block;
    padding-left: 20%;
}
#logo h1 a {
    color: #fff;
    text-decoration: none;

}
#logo h1 a span {
    color: #7ab7e2;
}

#logo .description {
    font-size: 10px;
    color: #cfd2d9;
}

#top-nav {
    float: right;
    display: inline;
    margin-bottom: 2px;
}

#top-nav ul {
    float: left;
    display: inline;
    font-size: 10px;
    line-height: 31px;
    color: #fff;
    text-transform: uppercase;
}

#top-nav ul li {
    float: left;
    display: inline;
    list-style-type: none;
}

#top-nav ul li a {
    float: left;
    display: inline;
    color: #fff;
    text-decoration: none;
    padding: 0 10px 0 8px;
}
#top-nav ul li a:hover {
    text-decoration: underline;
}

#top-nav ul li.last {
    padding-right: 4px;
}

#top-nav ul li.last a {
    background: none;
}

#top-nav ul li.home {
    width: 88px;
}

#top-nav ul li.home a {
    background: none;
    width: 67px;
    height: 31px;
    line-height: 29px;
    padding: 0;
    color: #141414;
    font-weight: bold;
    padding-left: 21px;
}

#main-nav {
    height: 50px;
    background: black;
}

#main-nav ul {
    font-size: 14px;
    line-height: 50px;
    text-transform: uppercase;
    font-family: "Trebuchet MS";
    float: right;
    padding-right: 25px;
}

#main-nav ul li {
    padding-right: 10px;
    padding-left: 10px;
    display: inline-block;
    list-style-type: none;
}

#main-nav ul li:hover{
    background: darkorange;
}

#main-nav ul li a:hover{
    color: black;
}

#main-nav ul li a {
    color: white;
    text-decoration: none;
    padding: 0 11px 0 9px;
}

#sort-nav {
    line-height: 46px;
}

#sort-nav .bg-left {
    position: relative;
    height: 46px;
}

#sort-nav .bg-right {
    position: relative;
    height: 46px;
}

#sort-nav ul li {
    float: left;
    display: inline;
    list-style-type: none;
    height: 46px;
}

#sort-nav ul li a {
    float: left;
    display: inline;
    font-size: 13px;
    font-weight: bold;
    color: #282828;
    text-decoration: none;
    padding: 0 19px;
}

#sort-nav ul li span.sep {
    float: left;
    display: inline;
    width: 2px;
    height: 46px;
    font-size: 0;
    line-height: 0;
    text-indent: -4000px;
}

#sort-nav ul li a:hover {
    text-decoration: underline;
}

#sort-nav ul li.active a {
    color: #fff;
    text-decoration: none;
}

#sort-nav ul li.active a:hover {
    text-decoration: none;
}

#main {

    padding-top: 10px;
}

#main-bot {
    padding: 0 10px 2px 10px;
    height: 100%;
    position: relative;
}

#sidebar {
    float: right;
    width: 20%;
}

#content {
    float: left;
    display: inline;
    width: 80%;
    padding-left: 30%;
}

.block {
    margin-bottom: 10px;
    background-repeat: no-repeat;
    background-position: 0 0;
}

.block .block-bot {
    height: 100%;
    position: relative;
    background-repeat: no-repeat;
    background-position: 0 bottom;
}

.block .block-cnt {
    padding: 10px 10px 10px 9px;
}

.block .head {
    height: 40px;
}

.block .head .head-cnt {
    line-height: 38px;
    height: 38px;
}

.block .head h3 {
    font-size: 15px;
    font-weight: bold;
    color: #262727;
    text-align: center;
    line-height: 40px;
    background: darkorange;
}

.block .head .view-all {
    float: right;
    display: inline;
    width: 61px;
    height: 18px;
    line-height: 16px;
    margin-top: 12px;
}

.block .head .view-all {
    color: #656565;
    font-size: 10px;
    text-decoration: none;
    text-align: center;
}

.block .head .view-all:hover {
    text-decoration: underline;
}

#content .block {
    background-color: #313131;
    width: 657px;
}

#sidebar .block {
    background-color: #484848;
    border-radius: 5px;
}

#search .block-cnt {
    padding: 5px 5px 5px 4px;
}

#search .fieldplace {
    float: left;
    display: inline;
    width: 170px;
    height: 22px;
    padding-left: 18px;
}

#search .fieldplace .field {
    padding: 3px 6px 4px;
    width: 158px;
    border: none;
    background: none;
}

#search .button {
    float: left;
    display: inline;
    width: 29px;
    height: 22px;
    font-size: 0;
    line-height: 0;
    text-indent: -4000px;
    cursor: pointer;
    border: 0;
}

#sign .block-cnt {

}

#sign .button {
    display: block;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 29px;
}

#sign .button {
    width: 105px;
    height: 29px;
    background: darkorange;
    border-radius: 5px;
}

#sign .button:hover {
    background-position: 0 bottom;
}

#sign .button-left {
    float: left;
    display: inline;
}

#sign .button-right {
    float: right;
    display: inline;
}

#sign .center {
    text-align: center;
    font-size: 11px;
    line-height: 16px;
    margin-top: 4px;
}

#sign .center a {
    color: #35cfd9;
}

#sidebar .articles .article {
    padding: 8px 7px;
    font-size: 11px;
    color: #a0a0a0;
}

#sidebar .articles h4 {
    color: #fff;
    font-weight: bold;
    font-size: 12px;
}

#sidebar .articles h4 a {
    color: #fff;
    text-decoration: none;
}

#sidebar .articles h4 a:hover {
    color: #ccc;
}

#sidebar .articles .view-all {
    font-size: 10px;
    letter-spacing: 0.5px;
    line-height: 24px;
    float: right;
    display: inline;
    margin-right: 6px;
}

#sidebar .image-articles .image {
    float: left;
    display: inline;
    width: 55px;
}

#sidebar .image-articles .image img {
    padding: 1px;
    border: solid 1px #1e1e1e;
    width: 51px;
    height: 51px;
}

#sidebar .image-articles .cnt {
    float: right;
    display: inline;
    width: 150px;
}

#sidebar .text-articles .article {
    padding: 8px 10px;
    font-size: 12px;
}

#sidebar .text-articles h4 {
    font-size: 13px;
}

#content .articles h4 {
    font-size: 19px;
    font-weight: bold;
    color: #ccc;
    margin: 4px 0 2px;
}

#content .articles h4 a {
    text-decoration: none;
    color: #ccc;

}
#content .articles h4 a:hover {
    color: #fff;
}

#content .col-articles .image img {
    padding: 1px;
    border: solid 1px #050505;
    width: 194px;
    height: 194px;
}

#content .col-articles .article {
    float: left;
    display: inline;
    margin: 17px 0 10px 15px;
    width: 198px;
}

#content .row-articles .article {
    padding: 10px 15px 12px 15px;
}

#content .row-articles .last-article {
    background: none;
}

#content .row-articles .image {
    float: left;
    display: inline;
    width: 194px;
}

#content .row-articles .image img {
    width: 194px;
}

#content .row-articles .cnt {
    float: right;
    display: inline;
    width: 420px;
}

#content .row-articles h4 {
    margin-top: 0;
    line-height: 20px;
}

#content .row-articles h4 a {
    color: #e4e4e4;
}

#slider {
    width: 638px;
    height: 357px;
    position: relative;
}

#slider .buttons {
    position: absolute;
    top: 250px;
    right: 15px;
    z-index: 101;
}

#slider .buttons span {
    float: left;
    display: inline;
    width: 28px;
    height: 27px;
    font-size: 0;
    line-height: 0;
    text-indent: -4000px;
    cursor: pointer;
    margin-left: 2px;
}

#slider .holder {
    width: 638px;
    height: 357px;
    position: relative;
    overflow: hidden;
}

#slider .content {
    height: 357px;
    width: 100000px;
    position: absolute;
    top: 0;
    left: 0;
}

#slider .fragment {
    float: left;
    display: inline;
    width: 638px;
    height: 357px;
    list-style-type: none;
}

#slider .fragment .image {
    position: relative;
    width: 638px;
    height: 287px;
}

#slider .frame {
    width: 638px;
    height: 287px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}

#slider .frame {
    font-size: 0;
    line-height: 0;
    text-indent: -4000px;
}

#slider .fragment .cnt {
    margin-top: 5px;
    height: 49px;
    color: #fff;
    font-size: 11px;
    line-height: 1.4;
    padding: 8px 15px;
}

#slider .fragment .cnt .side-a {
    float: left;
    display: inline;
    width: 150px;
}

#slider .fragment .cnt .side-b {
    float: right;
    display: inline;
    width: 430px;
}

#slider .fragment .cnt h4 {
    font-size: 19px;
    font-weight: bold;
    color: #212121;
    text-transform: uppercase;
    margin-bottom: 5px;
}

#slider .fragment .cnt .rating li {
    float: left;
    display: inline;
    list-style-type: none;
    font-size: 9px;
    color: #050505;
    text-transform: uppercase;
    margin-right: 1px;
}

#slider .fragment .cnt .rating li .star {
    float: left;
    display: inline;
    width: 15px;
    height: 15px;
    font-size: 0;
    line-height: 0;
    text-indent: -4000px;
}

#slider .fragment .cnt .rating li .votes {
    float: left;
    display: inline;
    margin-top: 3px;
    margin-left: 4px;
}
  
#footer .copy {
    font-size: 10px;
    color: #363636;
    text-transform: uppercase;
    text-align: right;
    padding: 20px 0;
}

#footer .copy a{
    color: #363636;
}

#footer .navs {
    text-align: center;
    font-size: 10px;
    text-transform: uppercase;
    color: #656565;
    height: 100%;
    position: relative;
}

#footer .navs .navs-bot {
    height: 100%;
    position: relative;
}

#footer .navs ul {
    margin: 10px 0;
}

#footer .navs ul li {
    list-style-type: none;
    display: inline;
    padding: 0 6px;
}

#footer .navs ul li a {
    color: #656565;
    text-decoration: none;
}

#footer .navs ul li a:hover {
    text-decoration: underline;
}