<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Dashboard</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        {% include '@adminComponents/adminHomeDashboardHeader.html.twig' %}
    </div>
    <!-- /.row -->
    <div class="row">
        {% include '@adminComponents/adminHomeNotificationPanel.html.twig' %}
        {% include '@adminComponents/adminHomeChat.html.twig' %}
    </div>
    <!-- /.row -->
</div>
<!-- /#page-wrapper -->
