<div id="header">
    <!-- Logo -->
    <div id="logo">
        <img src="{{ asset('img/logo.png') }}"/>
        <h1>Alive4Gaming.fr</h1>
    </div>
    <!-- / Logo -->
    <!-- Main Navigation -->

    {%  include '@defaultComponents/nav.html.twig' %}

    <!-- / Main Navigation -->
    <div class="cl">&nbsp;</div>
</div>