<div class="widget-1 first widget">
    <div class="wcontent nextmatch_widget">
        <div class="title-wrapper"><h3 class="widget-title">Next Team Match</h3><div class="clear"></div></div>
        <div class="wcontainer"><a href="http://skywarriorthemes.com/gameaddict/matches/ggggggggggggg/" title="Pro league semifinal"><div class="nextmatch_wrap">
                    <div class="teamwrapper home">
                        <img src="http://skywarriorthemes.com/gameaddict/wp-content/uploads/2014/01/20130802064726a0djjwmz5u7mepzq1-140x140.gif" class="clan1" alt="Aliance">
                        <hr>
                        <span>Aliance</span>
                    </div>
                    <div class="vsdiv">VS</div>
                    <div class="teamwrapper away">
                        <img src="http://skywarriorthemes.com/gameaddict/wp-content/uploads/2014/01/Fnatic-140x140.jpg" class="clan2" alt="Fnatic">
                        <hr>
                        <span>Fnatic</span>
                    </div>
                    <div class="clear"></div>
                    <div class="nm-date">
                        <span class="gametitle"> CS:GO</span>
                        <hr>
                        <div class="month">
                            <span>month</span>
                            March
                        </div>
                        <div class="day">
                            <span>day</span>
                            01
                        </div>
                        <div class="hour">
                            <span>hour</span>
                            9:12
                        </div>
                    </div>
                </div></a><div class="clear"></div>
        </div>
    </div>
</div>