<div class="widget-2 widget">
    <div class="title-wrapper"><h3 class="widget-title">Clan matches</h3><div class="clear"></div></div>
    <div class="wcontainer"><ul class="clanwar-list">
            <li>
                <ul class="tabs">
                    <li class="selected"><a href="#all" title="All">All</a><div class="clear"></div></li>
                    <li><a href="#game-1" title="Counter Strike: Global Offensive">CS:GO</a><div class="clear"></div></li>
                    <li><a href="#game-3" title="Dota 2">Dota 2</a><div class="clear"></div></li>
                </ul>
                <div class="clear"></div>
            </li>
            <li class="clanwar-item game-1">
                <a href="http://skywarriorthemes.com/gameaddict/matches/ggggggggggggg/" title="Pro league semifinal">			<div class="wrap">
                        <div class="match-wrap">
                            <div class="home-team">
                                <img src="http://skywarriorthemes.com/gameaddict/wp-content/uploads/2014/01/20130802064726a0djjwmz5u7mepzq1-35x35.gif" class="clan1img" alt="Pro league semifinal">
                            </div>
                            <div class="upcoming">TBD</div>
                            <div class="opponent-team">
                                <img src="http://skywarriorthemes.com/gameaddict/wp-content/uploads/2014/01/Fnatic-35x35.jpg" class="clan1img" alt="Pro league semifinal">  <!-- SLIKA DRUGOG TIMA -->

                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="date"><span>CS:GO</span> upcoming</div>
                        <div class="clear"></div>
                    </div>
                </a>
            </li>
            <li class="clanwar-item alt game-1">
                <a href="http://skywarriorthemes.com/gameaddict/matches/junior-league/" title="Junior League">			<div class="wrap">
                        <div class="match-wrap">
                            <div class="home-team">
                                <img src="http://skywarriorthemes.com/gameaddict/wp-content/uploads/2014/01/Mymlogo1-35x35.jpg" class="clan1img" alt="Junior League">
                            </div>
                            <div class="scores">0:0</div>
                            <div class="opponent-team">
                                <img src="http://skywarriorthemes.com/gameaddict/wp-content/uploads/2014/01/20130802064726a0djjwmz5u7mepzq1-35x35.gif" class="clan1img" alt="Junior League">  <!-- SLIKA DRUGOG TIMA -->

                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="date"><span>CS:GO</span> 155 weeks ago</div>
                        <div class="clear"></div>
                    </div>
                </a>
            </li>
            <li class="clanwar-item game-3">
                <a href="http://skywarriorthemes.com/gameaddict/matches/dota-2-friendly/" title="Dota 2 friendly">			<div class="wrap">
                        <div class="match-wrap">
                            <div class="home-team">
                                <img src="http://skywarriorthemes.com/gameaddict/wp-content/uploads/2014/01/Fnatic-35x35.jpg" class="clan1img" alt="Dota 2 friendly">
                            </div>
                            <div class="scores">41:45</div>
                            <div class="opponent-team">
                                <img src="http://skywarriorthemes.com/gameaddict/wp-content/uploads/2014/01/skgaming-35x35.png" class="clan1img" alt="Dota 2 friendly">  <!-- SLIKA DRUGOG TIMA -->

                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="date"><span>Dota 2</span> 173 weeks ago</div>
                        <div class="clear"></div>
                    </div>
                </a>
            </li>
            <li class="clanwar-item alt game-3">
                <a href="http://skywarriorthemes.com/gameaddict/matches/dota-final/" title="Dota final">			<div class="wrap">
                        <div class="match-wrap">
                            <div class="home-team">
                                <img src="http://skywarriorthemes.com/gameaddict/wp-content/uploads/2014/01/gameaddict-35x35.jpg" class="clan1img" alt="Dota final">
                            </div>
                            <div class="scores">28:34</div>
                            <div class="opponent-team">
                                <img src="http://skywarriorthemes.com/gameaddict/wp-content/uploads/2014/01/Fnatic-35x35.jpg" class="clan1img" alt="Dota final">  <!-- SLIKA DRUGOG TIMA -->

                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="date"><span>Dota 2</span> 175 weeks ago</div>
                        <div class="clear"></div>
                    </div>
                </a>
            </li>
        </ul>
        <div class="clear"></div>
    </div>
</div>