<nav id="main-nav">
    <ul>
        <li><a href="http://alive4gaming.fr/">Accueil</a></li>
        <li><a href="http://alive4gaming.fr/actualites">Actualités</a></li>
        <li><a href="http://alive4gaming.fr/jeux">Jeux</a></li>
        <li><a href="http://alive4gaming.fr/clans">Clans</a></li>
        <li><a href="http://alive4gaming.fr/membres">Membres</a></li>
        <li><a href="http://alive4gaming.fr/forum">Forum</a></li>
        <li><a href="http://alive4gaming.fr/contact">Contact</a></li>
    </ul>
</nav>