<div class="widget-3 last widget">
    <div class="title-wrapper">
        <h3 class="widget-title">
            Tabbed posts
        </h3>
        <div class="clear"></div>
    </div>
    <div class="wcontainer"><div id="block_tabs_72" class="block_tabs">
            <div class="tab-inner ui-tabs ui-corner-all ui-widget ui-widget-content">
                <ul class="nav nav-tabs tabs ui-tabs-nav ui-corner-all ui-helper-reset ui-helper-clearfix ui-widget-header" role="tablist">
                    <li class="selected ui-tabs-tab ui-corner-top ui-state-default ui-tab ui-tabs-active ui-state-active" role="tab" tabindex="0" aria-controls="tab-13" aria-labelledby="ui-id-6" aria-selected="true" aria-expanded="true">
                        <a href="#tab-13" title="Adventure" role="presentation" tabindex="-1" class="ui-tabs-anchor" id="ui-id-6">
                            Adventure
                        </a>
                        <div class="clear"></div>
                    </li>
                    <li role="tab" tabindex="-1" class="ui-tabs-tab ui-corner-top ui-state-default ui-tab" aria-controls="tab-20" aria-labelledby="ui-id-7" aria-selected="false" aria-expanded="false">
                        <a href="#tab-20" title="Online" role="presentation" tabindex="-1" class="ui-tabs-anchor" id="ui-id-7">
                            Online
                        </a>
                        <div class="clear"></div>
                    </li>
                    <li role="tab" tabindex="-1" class="ui-tabs-tab ui-corner-top ui-state-default ui-tab" aria-controls="tab-22" aria-labelledby="ui-id-8" aria-selected="false" aria-expanded="false">
                        <a href="#tab-22" title="Racing" role="presentation" tabindex="-1" class="ui-tabs-anchor" id="ui-id-8">
                            Racing
                        </a>
                        <div class="clear"></div>
                    </li>
                </ul>
                <div class="wcontainer">
                    <div class="tab tab-content ui-tabs-panel ui-corner-bottom ui-widget-content" id="tab-13" aria-labelledby="ui-id-6" role="tabpanel" aria-hidden="false">
                        <div class="review-single">
                            <div class="img">
                                <img src="http://skywarriorthemes.com/gameaddict/wp-content/uploads/2013/08/3-100x110.jpg">
                                <span class="overlay-link"></span>
                            </div>
                            <div class="info">
                                <a href="http://skywarriorthemes.com/gameaddict/curabitur-lorem-mauris-dictum-et-tempus/">
                                    Curabitur lorem mauris dictum et tempus
                                </a><br>
                                <a class="read-more-link" href="#">
                                    Read more
                                </a>
                                <div class="overall-score"><div class="rating r-45"></div></div>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="review-single">
                            <div class="img">
                                <img src="http://skywarriorthemes.com/gameaddict/wp-content/uploads/2013/06/47-100x110.jpg">
                                <span class="overlay-link"></span>
                            </div>
                            <div class="info">
                                <a href="http://skywarriorthemes.com/gameaddict/morbi-vel-ipsum-vel-augue-mattis-ultricies-non-et-mauris/">
                                    Morbi vel ipsum vel augue mattis
                                </a><br>
                                <a class="read-more-link" href="#">
                                    Read more
                                </a>
                                <div class="overall-score"><div class="rating r-35"></div></div>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="review-single">
                            <div class="img">
                                <img src="http://skywarriorthemes.com/gameaddict/wp-content/uploads/2013/06/57-100x110.jpg">
                                <span class="overlay-link"></span>
                            </div>
                            <div class="info">
                                <a href="http://skywarriorthemes.com/gameaddict/duis-lacinia-nis-ve-lorem-scelerisque-interdum/">
                                    Duis lacinia nisi vel lorem scelerisque interdum								</a><br>
                                <a class="read-more-link" href="#">
                                    Read more
                                </a>
                                <div class="overall-score"><div class="rating r-4"></div></div>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div><!--tab-content-->
                    <div class="tab tab-content ui-tabs-panel ui-corner-bottom ui-widget-content" id="tab-20" aria-labelledby="ui-id-7" role="tabpanel" aria-hidden="true" style="display: none;">
                        <div class="review-single">
                            <div class="img">
                                <img src="http://skywarriorthemes.com/gameaddict/wp-content/uploads/2013/08/2-100x110.jpg">
                                <span class="overlay-link"></span>
                            </div>
                            <div class="info">
                                <a href="http://skywarriorthemes.com/gameaddict/etiam-massa-mauris-fermentum-a-congue-id/">
                                    Etiam massa mauris fermentum a congue id
                                </a><br>
                                <a class="read-more-link" href="#">
                                    Read more
                                </a>
                                <div class="overall-score"><div class="rating r-45"></div></div>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="review-single">
                            <div class="img">
                                <img src="http://skywarriorthemes.com/gameaddict/wp-content/uploads/2013/06/47-100x110.jpg">
                                <span class="overlay-link"></span>
                            </div>
                            <div class="info">
                                <a href="http://skywarriorthemes.com/gameaddict/morbi-vel-ipsum-vel-augue-mattis-ultricies-non-et-mauris/">
                                    Morbi vel ipsum vel augue mattis
                                </a><br>
                                <a class="read-more-link" href="#">
                                    Read more							</a>
                                <div class="overall-score"><div class="rating r-35"></div></div>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="review-single">
                            <div class="img">
                                <img src="http://skywarriorthemes.com/gameaddict/wp-content/uploads/2013/06/65-100x110.jpg">
                                <span class="overlay-link"></span>
                            </div>
                            <div class="info">
                                <a href="http://skywarriorthemes.com/gameaddict/eget-ultrice-mauris-rhoncus-non/">
                                    Eget ultrices mauris rhoncus non
                                </a><br>
                                <a class="read-more-link" href="#">
                                    Read more
                                </a>
                                <div class="overall-score"><div class="rating r-4"></div></div>
                            </div>

                            <div class="clear"></div>
                        </div>
                    </div><!--tab-content-->
                    <div class="tab tab-content ui-tabs-panel ui-corner-bottom ui-widget-content" id="tab-22" aria-labelledby="ui-id-8" role="tabpanel" aria-hidden="true" style="display: none;">
                        <div class="review-single">
                            <div class="img">
                                <img src="http://skywarriorthemes.com/gameaddict/wp-content/uploads/2013/06/47-100x110.jpg">
                                <span class="overlay-link"></span>
                            </div>
                            <div class="info">
                                <a href="http://skywarriorthemes.com/gameaddict/morbi-vel-ipsum-vel-augue-mattis-ultricies-non-et-mauris/">
                                    Morbi vel ipsum vel augue mattis
                                </a><br>
                                <a class="read-more-link" href="#">
                                    Read more
                                </a>
                                <div class="overall-score"><div class="rating r-35"></div></div>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="review-single">
                            <div class="img">
                                <img src="http://skywarriorthemes.com/gameaddict/wp-content/uploads/2013/06/57-100x110.jpg">
                                <span class="overlay-link"></span>
                            </div>
                            <div class="info">
                                <a href="http://skywarriorthemes.com/gameaddict/duis-lacinia-nis-ve-lorem-scelerisque-interdum/">
                                    Duis lacinia nisi vel lorem scelerisque interdum
                                </a><br>
                                <a class="read-more-link" href="#">
                                    Read more
                                </a>
                                <div class="overall-score"><div class="rating r-4"></div></div>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="review-single">
                            <div class="img">
                                <img src="http://skywarriorthemes.com/gameaddict/wp-content/uploads/2013/06/65-100x110.jpg">
                                <span class="overlay-link"></span>
                            </div>
                            <div class="info">
                                <a href="http://skywarriorthemes.com/gameaddict/eget-ultrice-mauris-rhoncus-non/">
                                    Eget ultrices mauris rhoncus non
                                </a><br>
                                <a class="read-more-link" href="#">
                                    Read more
                                </a>
                                <div class="overall-score"><div class="rating r-4"></div></div>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div><!--tab-content-->
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>